body {
    background-color: #046307;
}

h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#main-content {
    display: flex;
    justify-content: center;
}

.calculator {
    border: 3px solid black;
    margin-top: 28px;
    width: 430px;
    height: 580px;
    background-color: rgb(53, 56, 57);
    border-radius: 38px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen {
    background-color: lightgray;
    width: 400px;
    height: 118px;
    border-radius: 10px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous-num {
    color: black;
    margin-right: 10px;
}

.current-num {
    color: black;
    font-size: 58px;
    margin-right: 10px;
}

.buttons {
    margin-top: 28px;
    width: 400px;
    height: 380px;
    display: flex;
    gap: 20px;
}

button {
    font-size: large;
}

.left-buttons {
    width: 280px;
    height: 380px;
}

.options {
    /* border: 1px solid black; */
    width: 280px;
    height: 80px;
    color: black;
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

.numbers {
    /* border: 1px solid red; */
    height: 240px;
    width: 280px;
    color: black;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.zero-decimal {
    /* border: 1px solid blue; */
    width: 280px;
    height: 60px;
    color: black;
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

#button0 {
    width: 180px;
}

.operators {
    /* border: 1px solid white; */
    width: 80px;
    height: 380px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

button {
    background-color: gray;
    width: 80px;
    height: 60px;
    border-radius: 28px;
    border: 1px solid black;
}

#clearBtn {
    color: black;
    border: 1px solid black;
}

#plus-minusBtn {
    color: black;
    border: 1px solid black
}

